<p></p>
<div class="row">
  <div class="col-3"><img src="https://static.iyp.tw/41625/files/0e856f46-120c-4af6-b736-e89f65fddda9.png"
      alt="KICKS-02.png" /></div>
  <div class="col-3"><img src="https://static.iyp.tw/41625/files/7d664af8-ee7d-4196-8f4f-728ff07b0d65.png"
      alt="KICKS-03.png" /></div>
  <div class="col-3"><img src="https://static.iyp.tw/41625/files/15db61ac-aaec-4d29-ba1e-11fe16b2e90e.png"
      alt="KICKS-04.png" /></div>
</div>
<div class="row">
  <div class="col-3"><img src="https://static.iyp.tw/41625/files/9e2ac140-c930-468d-a8d0-7430fbaf5b26.png"
      alt="KICKS-05.png" /></div>
  <div class="col-3"><img src="https://static.iyp.tw/41625/files/4add3300-c33a-4c9f-b395-7a84bfd0e5e7.png"
      alt="KICKS-06.png" /></div>
  <div class="col-3"><img src="https://static.iyp.tw/41625/files/653306c8-6a4d-423a-b21b-7885e05df37a.png"
      alt="KICKS-07.png" /></div>
</div>
<div class="row">
  <div class="col-3"><img src="https://static.iyp.tw/41625/files/1d7b0977-907e-4a63-96b7-cfe32d11a8a7.png"
      alt="KICKS-08.png" /></div>
  <div class="col-3"><img src="https://static.iyp.tw/41625/files/ede7a6fd-f649-4225-9097-d05e1be1532b.png"
      alt="KICKS-09.png" /></div>
  <div class="col-3"><img src="https://static.iyp.tw/41625/files/7c6d9f6e-b602-4188-a86a-8fcd33b61a7f.png"
      alt="KICKS-10.png" /></div>
</div>
<div class="row">
  <div class="col-3"><img src="https://static.iyp.tw/41625/files/88ed7a3d-82ef-4c06-b360-1de38b952a95.png"
      alt="KICKS-11.png" /></div>
  <div class="col-3"><img src="https://static.iyp.tw/41625/files/8c3b3bdf-19e5-4f4d-a689-0eb674598a60.png"
      alt="KICKS-12.png" /></div>
  <div class="col-3"><img src="https://static.iyp.tw/41625/files/2e9b7762-a7af-4db0-9117-0fb6c57955d9.png"
      alt="KICKS-13.png" /></div>
</div>
<p><span style="font-size: 22px;"><span><span style="color: #ad0029;"><strong><span
            style="font-size: 24px;"><br />跨界休旅車<br /></span></strong></span></span></span></p>
<hr style="border: 0.5px dashed #f52c5c;" />
<div class="row">
  <div class="col-2"><span style="font-size: 22px;">排氣量 : 1498cc</span></div>
  <div class="col-2"><span style="font-size: 22px;">平均油耗 : 17.0km/L</span></div>
</div>
<div class="row">
  <div class="col-2"><span style="font-size: 22px;">全長 : 4295mm</span></div>
  <div class="col-2"><span style="font-size: 22px;">全寬 : 1760mm</span></div>
</div>
<div class="row">
  <div class="col-2"><span style="font-size: 22px;">全高 : 1588mm(時尚版)、1625mm(其他規格)</span></div>
  <div class="col-2"><span style="font-size: 22px;">最大馬力 : 124ps/6300rpm</span></div>
</div>
<p></p>
<div class="row">
  <div class="col-2"><span style="font-size: 22px;">價格</span><span style="font-size: 36px;"> 69.9<span
        style="font-size: 22px;">萬元起</span></span></div>
  <div class="col-2"><a href="../../book-a-trial-ride.html"><img
        src="https://resource.iyp.tw/static.iyp.tw/41625/files/07a37fa6-1200-48e3-b04a-6e6e3ebd6798.png" alt="" /></a>
  </div>
</div>
<p>&nbsp;<br /><br /><br /><br /></p>
<p><span><span style="color: #ad0029;"><strong><span style="font-size: 24px;">促銷方案</span></strong></span><br /></span>
</p>
<hr style="border: 0.5px dashed #f52c5c;" />
<div class="row">
  <section id="service">
    <div class="wrapper">
      <div class="x_slide">
        <div class="list row">
          <div class="col-3">
            <div data-aos="zoom-in-down" class="aos-init">
              <article class="fadeinup fadeinup-mv">
                <p class="font_5"><img src="https://static.iyp.tw/41625/files/230d30bd-9d16-43dd-b1b9-7b9dea4b80a4.png"
                    alt="最GO意思.png" width="100%" /></p>
                <div class="row">
                  <div class="col-1">
                    <table style="width: 100%; border-collapse: collapse;" cellspacing="6" cellpadding="6" border="0">
                      <tbody>
                        <tr>
                          <td style="width: 100%; background-color: #c3002f;"><span
                              style="color: #ffffff; font-size: 16px;"><strong>NISSAN 最GO意思</strong></span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <p class="font_5"><span
                    style="font-size: 14px; color: #000000;">入主國產車系享最高14萬元購車優惠!<br /><br />2021/06/01-2021/07/30<br /><br /><br /></span><span
                    style="font-size: 14px; color: #000000;"></span></p>
                <div class="product-link">
                  <div class="row">
                    <div class="col-1"><a href="https://new.nissan.com.tw/nissan/news/offers/736" target="_blank"
                        rel="noopener"><span style="color: #000000;"><span
                            style="color: #ffffff;">詳情連結</span></span></a></div>
                  </div>
                </div>
                <p class="font_5"><span style="font-size: 14px; color: #000000;">&nbsp;</span></p>
              </article>
            </div>
            <br /><br />
          </div>
        </div>
      </div>
      <section id="service">
        <div class="wrapper">
          <div class="x_slide">
            <div class="list row">
              <div class="col-3">
                <div data-aos="zoom-in-down" class="aos-init">
                  <article class="fadeinup fadeinup-mv">
                    <p class="font_5"><img
                        src="https://static.iyp.tw/41625/files/c5935be6-4e65-4327-8803-6709e37cf5c4.png" alt="UIO.png"
                        width="100%" /></p>
                    <div class="row">
                      <div class="col-1">
                        <table style="width: 100%; border-collapse: collapse;" cellspacing="6" cellpadding="6"
                          border="0">
                          <tbody>
                            <tr>
                              <td style="width: 100%; background-color: #c3002f;"><span
                                  style="color: #ffffff; font-size: 16px;"><strong>NISSAN車主增換購專案</strong></span></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <p class="font_5"><span
                        style="font-size: 14px; color: #000000;">車主增換購，享保修紅利6萬點。<br /><br />2021/06/01-2021/06/30<br /><br /><br /></span><span
                        style="font-size: 14px; color: #000000;"></span></p>
                    <div class="product-link">
                      <div class="row">
                        <div class="col-1"><a href="https://new.nissan.com.tw/nissan/owners/news/flash/720"
                            target="_blank" rel="noopener"><span style="color: #000000;"><span
                                style="color: #ffffff;">詳情連結</span></span></a></div>
                      </div>
                    </div>
                    <p class="font_5"><span style="font-size: 14px; color: #000000;">&nbsp;</span></p>
                    <p><br /><span style="font-size: 14px; color: #000000;"></span></p>
                  </article>
                </div>
                <br /><br />
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
  <section id="service">
    <div class="wrapper">
      <div class="x_slide">
        <div class="list row">
          <div class="col-3">
            <div data-aos="zoom-in-down" class="aos-init">
              <article class="fadeinup fadeinup-mv">
                <p class="font_5"></p>
              </article>
            </div>
            <br /><br />
          </div>
          <h1 class="dfd-folio-categories"></h1>
        </div>
      </div>
    </div>
  </section>
</div>
<p></p>
<p><br /><br /><br /><br /></p>
<p></p>
<p><span style="font-size: 16px;"><span style="color: #ad0029; font-size: 24px;"><strong>外觀</strong></span><br /></span>
</p>
<hr style="border: 0.5px dashed #f52c5c;" />
<div class="row">
  <section id="service">
    <div class="wrapper">
      <div class="x_slide">
        <div class="list row">
          <div class="col-3">
            <div data-aos="zoom-in-down" class="aos-init">
              <article class="fadeinup fadeinup-mv">
                <p class="font_5"><img src="https://static.iyp.tw/41625/files/f361016d-5fb3-4791-a286-3214804201d6.jpg"
                    alt="P15_01.jpg" /></p>
                <div class="row">
                  <div class="col-1">
                    <table style="width: 100%; border-collapse: collapse;" cellspacing="6" cellpadding="6" border="0">
                      <tbody>
                        <tr>
                          <td style="width: 100%; background-color: #c3002f;"><span
                              style="color: #ffffff; font-size: 16px;"><strong>新世代V-Motion水箱護罩</strong></span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <p class="font_5"><span
                    style="color: #000000; font-size: 16px;"><br />KICKS雖擁有跳脫傳統的外型，但車頭依然承襲全新世代車款識別。V型的水箱護罩，是NISSAN家族不容錯認的搶眼設計。
                    <br /></span></p>
                <h3 class="font_5"><span style="font-size: 16px;"><strong><span
                        style="color: #1a2b6d;">&nbsp;</span></strong></span></h3>
              </article>
            </div>
          </div>
        </div>
      </div>
      <section id="service">
        <div class="wrapper">
          <div class="x_slide">
            <div class="list row">
              <div class="col-3">
                <div data-aos="zoom-in-down" class="aos-init">
                  <article class="fadeinup fadeinup-mv">
                    <p class="font_5"><img
                        src="https://static.iyp.tw/41625/files/02b9283e-d9e5-45a2-936e-f8d993a9d313.jpg"
                        alt="P15_02.jpg" /></p>
                    <div class="row">
                      <div class="col-1">
                        <table style="width: 100%; border-collapse: collapse;" cellspacing="6" cellpadding="6"
                          border="0">
                          <tbody>
                            <tr>
                              <td style="width: 100%; background-color: #c3002f;"><span
                                  style="color: #ffffff; font-size: 16px;"><strong>主動式LED魚眼頭燈</strong></span></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <p class="font_5"><span
                        style="color: #000000; font-size: 16px;"><br />炯炯有神的LED頭燈設計在外放中保有內斂，寬廣的燈光照射分布，提升遠距能見度，照射距離更比鹵素燈高出44%。<br />(智行旗艦版)
                      </span></p>
                    <h3 class="font_5"><span style="color: #1a2b6d; font-size: 16px;"><strong>&nbsp;</strong></span>
                    </h3>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
  <section id="service">
    <div class="wrapper">
      <div class="x_slide">
        <div class="list row">
          <div class="col-3">
            <div data-aos="zoom-in-down" class="aos-init">
              <article class="fadeinup fadeinup-mv">
                <p class="font_5"><img src="https://static.iyp.tw/41625/files/430f64d4-73df-4846-bd57-7913158832aa.jpg"
                    alt="P15_03.jpg" /></p>
                <div class="row">
                  <div class="col-1">
                    <table style="width: 100%; border-collapse: collapse;" cellspacing="6" cellpadding="6" border="0">
                      <tbody>
                        <tr>
                          <td style="width: 100%; background-color: #c3002f;"><span
                              style="color: #ffffff; font-size: 16px;"><strong>AHB(Auto High
                                Beam)遠近光燈自動調節系統</strong></span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <p class="font_5"><span
                    style="color: #000000; font-size: 16px;"><br />可辨識對向來車的頭尾燈，並且偵測周遭亮度，自動切換遠/近光燈的照明模式。<br />(智行旗艦版)
                    <br /></span></p>
                <h3 class="font_5"><span style="font-size: 16px;"><strong><span
                        style="color: #1a2b6d;">&nbsp;</span></strong></span></h3>
              </article>
            </div>
          </div>
          <h1 class="dfd-folio-categories"></h1>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="row">
  <section id="service">
    <div class="wrapper">
      <div class="x_slide">
        <div class="list row">
          <div class="col-3">
            <div data-aos="zoom-in-down" class="aos-init">
              <article class="fadeinup fadeinup-mv">
                <p class="font_5"><img src="https://static.iyp.tw/41625/files/e3ea7e5e-6b7e-47d5-a3d1-cfb4fa94c373.jpg"
                    alt="P15_04.jpg" /></p>
                <div class="row">
                  <div class="col-1">
                    <table style="width: 100%; border-collapse: collapse;" cellspacing="6" cellpadding="6" border="0">
                      <tbody>
                        <tr>
                          <td style="width: 100%; background-color: #c3002f;"><span
                              style="color: #ffffff; font-size: 16px;"><strong>魅力雙色車頂</strong></span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <p class="font_5"><span
                    style="color: #000000; font-size: 16px;"><br />車頂與車身使用搶眼雙色相互映襯，透過色彩搭配，營造出懸浮式車頂，讓整體造型更加鮮活，也讓車款顏值在先天條件上略勝一籌。<br />(選配雙色車頂需另加價15,000元)<br /><br /></span>
                </p>
                <h3 class="font_5"><span style="font-size: 16px;"><strong><span
                        style="color: #1a2b6d;">&nbsp;</span></strong></span></h3>
              </article>
            </div>
          </div>
        </div>
      </div>
      <section id="service">
        <div class="wrapper">
          <div class="x_slide">
            <div class="list row">
              <div class="col-3">
                <div data-aos="zoom-in-down" class="aos-init">
                  <article class="fadeinup fadeinup-mv">
                    <p class="font_5"><img
                        src="https://static.iyp.tw/41625/files/a47ef805-dd1e-4077-9d8a-5e45a6fb6d85.jpg"
                        alt="P15_05.jpg" /></p>
                    <div class="row">
                      <div class="col-1">
                        <table style="width: 100%; border-collapse: collapse;" cellspacing="6" cellpadding="6"
                          border="0">
                          <tbody>
                            <tr>
                              <td style="width: 100%; background-color: #c3002f;"><span
                                  style="color: #ffffff; font-size: 16px;"><strong>17吋雙色切削式鋁圈</strong></span></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <p class="font_5"><span
                        style="color: #000000; font-size: 16px;"><br />雙色的鋁圈設計，俐落簡潔的線條質感，無論靜止或轉動，都能展現現代都會時尚風格。
                        <br /></span></p>
                    <h3 class="font_5"><span style="color: #1a2b6d; font-size: 16px;"><strong>&nbsp;</strong></span>
                    </h3>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
</div>
<p><br /><br /></p>
<p></p>
<p><span style="font-size: 16px;"><span style="color: #ad0029; font-size: 24px;"><strong>內裝</strong></span><br /></span>
</p>
<hr style="border: 0.5px dashed #f52c5c;" />
<div class="row">
  <section id="service">
    <div class="wrapper">
      <div class="x_slide">
        <div class="list row">
          <div class="col-3">
            <div data-aos="zoom-in-down" class="aos-init">
              <article class="fadeinup fadeinup-mv">
                <p class="font_5"><img src="https://static.iyp.tw/41625/files/0fd8422a-4ebe-42b8-9af7-86af270ecac1.jpg"
                    alt="P15_06.jpg" /></p>
                <div class="row">
                  <div class="col-1">
                    <table style="width: 100%; border-collapse: collapse;" cellspacing="6" cellpadding="6" border="0">
                      <tbody>
                        <tr>
                          <td style="width: 100%; background-color: #c3002f;"><span
                              style="color: #ffffff; font-size: 16px;"><strong>魅力雙色內裝</strong></span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <p class="font_5"><span
                    style="color: #000000; font-size: 16px;"><br />內裝延續了個性化的設計思維，使用大量的亮橘色皮革包覆，耀眼卻不突兀，展現前衛性格的同時，也擁有跳脫時代的未來感。<br /><br /></span>
                </p>
                <h3 class="font_5"><span style="font-size: 16px;"><strong><span
                        style="color: #1a2b6d;">&nbsp;</span></strong></span></h3>
              </article>
            </div>
          </div>
        </div>
      </div>
      <section id="service">
        <div class="wrapper">
          <div class="x_slide">
            <div class="list row">
              <div class="col-3">
                <div data-aos="zoom-in-down" class="aos-init">
                  <article class="fadeinup fadeinup-mv">
                    <p class="font_5"><img
                        src="https://static.iyp.tw/41625/files/e19c4d24-2b93-4f19-bd53-be24355097de.jpg"
                        alt="P15_07.jpg" /></p>
                    <div class="row">
                      <div class="col-1">
                        <table style="width: 100%; border-collapse: collapse;" cellspacing="6" cellpadding="6"
                          border="0">
                          <tbody>
                            <tr>
                              <td style="width: 100%; background-color: #c3002f;"><span
                                  style="color: #ffffff; font-size: 16px;"><strong>新世代D-Shape運動直覺方向盤</strong></span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <p class="font_5"><span
                        style="color: #000000; font-size: 16px;"><br />採用鍍鉻飾條增加質感，手握方向盤的形狀為新設計，讓握感更自然，平底式設計增加膝部空間，給駕駛更多的空間自由。<br /></span>
                    </p>
                    <h3 class="font_5"><span style="color: #1a2b6d; font-size: 16px;"><strong>&nbsp;</strong></span>
                    </h3>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
  <section id="service">
    <div class="wrapper">
      <div class="x_slide">
        <div class="list row">
          <div class="col-3">
            <div data-aos="zoom-in-down" class="aos-init">
              <article class="fadeinup fadeinup-mv">
                <p class="font_5"><img src="https://static.iyp.tw/41625/files/35ca780a-3099-4b2a-be66-9038c886b852.jpg"
                    alt="P15_08.jpg" /></p>
                <div class="row">
                  <div class="col-1">
                    <table style="width: 100%; border-collapse: collapse;" cellspacing="6" cellpadding="6" border="0">
                      <tbody>
                        <tr>
                          <td style="width: 100%; background-color: #c3002f;"><span
                              style="color: #ffffff; font-size: 16px;"><strong>7吋數位液晶儀錶板</strong></span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <p class="font_5"><span
                    style="color: #000000; font-size: 16px;"><br />可顯示時速、油耗、行車電腦、智行科技、水箱溫度、3A主動全時防護系統資訊等讓你安心駕駛的車況訊息。<br />(豪華版以上)<br /><br /><br /></span>
                </p>
                <h3 class="font_5"></h3>
              </article>
            </div>
          </div>
          <h1 class="dfd-folio-categories"></h1>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="row">
  <section id="service">
    <div class="wrapper">
      <div class="x_slide">
        <div class="list row">
          <div class="col-3">
            <div data-aos="zoom-in-down" class="aos-init">
              <article class="fadeinup fadeinup-mv">
                <p class="font_5"><img src="https://static.iyp.tw/41625/files/eb10b7a4-280d-4738-8449-79a917341071.jpg"
                    alt="P15_09.jpg" /></p>
                <div class="row">
                  <div class="col-1">
                    <table style="width: 100%; border-collapse: collapse;" cellspacing="6" cellpadding="6" border="0">
                      <tbody>
                        <tr>
                          <td style="width: 100%; background-color: #c3002f;"><span
                              style="color: #ffffff; font-size: 16px;"><strong>8吋智慧影音多媒體系統 X-Media III</strong></span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <p class="font_5"><span style="color: #000000; font-size: 16px;">NISSAN 與Panasonic
                    合作開發，採用1280x720HD高解析度、全貼合、全平面、160度大可視角，8吋大螢幕裝下你在駕駛時所需的行動智慧。<br />Apple
                    CarPlay可連結iPhone導航、音樂、電話、Siri智慧語音操作等功能，Android Auto與大部分搭載Android
                    5.0以上之裝置相容。讓行動科技與行車生活完美結合。<br />*Apple CarPlay&trade;需搭載iOS 7.1以上之iPhone機型。詳情請參見車主手冊。<br /></span>
                </p>
                <h3 class="font_5"><span style="font-size: 16px;"><strong><span
                        style="color: #1a2b6d;">&nbsp;</span></strong></span></h3>
              </article>
            </div>
          </div>
        </div>
      </div>
      <section id="service">
        <div class="wrapper">
          <div class="x_slide">
            <div class="list row">
              <div class="col-3">
                <div data-aos="zoom-in-down" class="aos-init">
                  <article class="fadeinup fadeinup-mv">
                    <p class="font_5"><img
                        src="https://static.iyp.tw/41625/files/ca00a924-fa4e-49ca-a6bb-fe2270b1728b.jpg"
                        alt="P15_10.jpg" /></p>
                    <div class="row">
                      <div class="col-1">
                        <table style="width: 100%; border-collapse: collapse;" cellspacing="6" cellpadding="6"
                          border="0">
                          <tbody>
                            <tr>
                              <td style="width: 100%; background-color: #c3002f;"><span
                                  style="color: #ffffff; font-size: 16px;"><strong>3D超體感紓壓皮椅</strong></span></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <p class="font_5"><span
                        style="color: #000000; font-size: 16px;"><br />以全方位支撐背、腰、臀為重點，再配合脊椎弧度人體工學設計，讓駕駛疲勞感有效降低30%。<br /></span>
                    </p>
                    <h3 class="font_5"><span style="color: #1a2b6d; font-size: 16px;"><strong>&nbsp;</strong></span>
                    </h3>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
  <section id="service">
    <div class="wrapper">
      <div class="x_slide">
        <div class="list row">
          <div class="col-3">
            <div data-aos="zoom-in-down" class="aos-init">
              <article class="fadeinup fadeinup-mv">
                <p class="font_5"><span style="font-size: 16px;"><strong><span style="color: #1a2b6d;"><img
                          src="https://static.iyp.tw/41625/files/38699572-f2de-404e-8ad4-cf4dbc0f0bec.jpg"
                          alt="P15_11.jpg" /></span></strong><span
                      style="color: #000000;"><strong></strong></span></span></p>
                <div class="row">
                  <div class="col-1">
                    <table style="width: 100%; border-collapse: collapse;" cellspacing="6" cellpadding="6" border="0">
                      <tbody>
                        <tr>
                          <td style="width: 100%; background-color: #c3002f;"><span
                              style="color: #ffffff; font-size: 16px;"><strong>智行車聯系統</strong></span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <p class="font_5"><span
                    style="color: #000000; font-size: 16px;"><br />智行車聯-旗艦型：車輛拖吊入侵/安全氣囊觸發警示自動通知緊急聯絡人/撥打NISSAN客服中心/遠端定位尋車/遠端車門上解鎖/即時行車資訊主動推播。<br />(售服配件)<br /><br /><br /></span>
                </p>
                <h3 class="font_5"></h3>
              </article>
            </div>
          </div>
          <h1 class="dfd-folio-categories"></h1>
        </div>
      </div>
    </div>
  </section>
</div>
<p></p>
<p><br /><br /></p>
<p><br /><br /></p>
<p><span style="font-size: 16px;"><span style="color: #ad0029; font-size: 24px;"><strong>性能</strong></span><br /></span>
</p>
<hr style="border: 0.5px dashed #f52c5c;" />
<div class="row">
  <section id="service">
    <div class="wrapper">
      <div class="x_slide">
        <div class="list row">
          <div class="col-3">
            <div data-aos="zoom-in-down" class="aos-init">
              <article class="fadeinup fadeinup-mv">
                <p class="font_5"><img src="https://static.iyp.tw/41625/files/a9b64cd4-2668-4895-84e7-eff2f1845c3c.jpg"
                    alt="P15_12.jpg" /></p>
                <div class="row">
                  <div class="col-1">
                    <table style="width: 100%; border-collapse: collapse;" cellspacing="6" cellpadding="6" border="0">
                      <tbody>
                        <tr>
                          <td style="width: 100%; background-color: #c3002f;"><span
                              style="color: #ffffff; font-size: 16px;"><strong>全新第三代HR15DE全鋁合金1.5G引擎</strong></span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <p class="font_5"><span style="font-size: 16px;"><span
                      style="color: #000000; font-size: 14px;">全新日產第三代高效能引擎背後，藏著全球第一顆完全移植GT-R
                      VR38引擎的技術，在中低轉速域提供高扭力輸出，且不犧牲車室空間並減輕車重，更有效將引擎輕量小型化。<br />GT-R的「鏡面熔射缸孔」技術：該技術取消傳統厚重的鑄鐵缸套，取而代之的是將氣缸壁溶射，形成如髮絲般薄的鐵膜，因為薄而提升導熱性，使燃燒室獲得高冷卻性能，而熔射層的加工工藝有著鏡面般光滑的表面，降低機件摩擦以增加耐用性。靠著1.5G引擎，能滿足你對頂級車款懷有的部分想像。
                    </span><strong><span style="color: #1a2b6d;"></span></strong></span></p>
              </article>
            </div>
          </div>
        </div>
      </div>
      <section id="service">
        <div class="wrapper">
          <div class="x_slide">
            <div class="list row">
              <div class="col-3">
                <div data-aos="zoom-in-down" class="aos-init">
                  <article class="fadeinup fadeinup-mv">
                    <p class="font_5"><img
                        src="https://static.iyp.tw/41625/files/22ab0b16-379d-4931-a24c-603ffb4420d0.jpg"
                        alt="P15_13.jpg" /></p>
                    <div class="row">
                      <div class="col-1">
                        <table style="width: 100%; border-collapse: collapse;" cellspacing="6" cellpadding="6"
                          border="0">
                          <tbody>
                            <tr>
                              <td style="width: 100%; background-color: #c3002f;"><span
                                  style="color: #ffffff; font-size: 16px;"><strong>第5代X-CVT無段自動變速系統附Sport模式</strong></span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <p class="font_5"><span style="color: #000000; font-size: 16px;"><br />在一般模式(Smooth and
                        Fast)的快速反應及平順的線性加速，減少行車的頓挫感。在D-Step運動變速邏輯，重踩油門時模擬AT換檔，用卓越的再加速性使駕駛在車陣中輕鬆起步脫困。<br /></span></p>
                    <h3 class="font_5"><span style="color: #1a2b6d; font-size: 16px;"><strong>&nbsp;</strong></span>
                    </h3>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
  <section id="service">
    <div class="wrapper">
      <div class="x_slide">
        <div class="list row">
          <div class="col-3">
            <div data-aos="zoom-in-down" class="aos-init">
              <article class="fadeinup fadeinup-mv">
                <p class="font_5"><span style="font-size: 16px;"><strong><span style="color: #1a2b6d;"><img
                          src="https://static.iyp.tw/41625/files/3922b1cc-20c4-4149-97f0-875cab1ddde7.jpg"
                          alt="P15_14.jpg" /></span></strong><span
                      style="color: #000000;"><strong></strong></span></span></p>
                <div class="row">
                  <div class="col-1">
                    <table style="width: 100%; border-collapse: collapse;" cellspacing="6" cellpadding="6" border="0">
                      <tbody>
                        <tr>
                          <td style="width: 100%; background-color: #c3002f;"><span
                              style="color: #ffffff; font-size: 16px;"><strong>一級油耗認證</strong></span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <p class="font_5"><span style="color: #000000; font-size: 16px;"><br />同級車最佳油耗17.0km/L(一級油耗)。
                    <br /><br />*同級車係指1.8L以下2020國產小型SUV <br /><br />*油耗數字來源請詳見規配表<br /></span></p>
                <h3 class="font_5"></h3>
              </article>
            </div>
          </div>
          <h1 class="dfd-folio-categories"></h1>
        </div>
      </div>
    </div>
  </section>
</div>
<p></p>
<p><br /><br /><br /></p>
<p><span style="font-size: 16px;"><span style="color: #ad0029; font-size: 24px;"><strong>安全</strong></span><br /></span>
</p>
<hr style="border: 0.5px dashed #f52c5c;" />
<div class="row">
  <section id="service">
    <div class="wrapper">
      <div class="x_slide">
        <div class="list row">
          <div class="col-3">
            <div data-aos="zoom-in-down" class="aos-init">
              <article class="fadeinup fadeinup-mv">
                <p class="font_5"><span style="font-size: 16px;"><strong><span style="color: #1a2b6d;"><img
                          src="https://static.iyp.tw/41625/files/50160ba1-de85-4b72-8d20-a637fa087691.jpg"
                          alt="P15_15.jpg" /></span></strong><span
                      style="color: #000000;"><strong></strong></span></span></p>
                <div class="row">
                  <div class="col-1">
                    <table style="width: 100%; border-collapse: collapse;" cellspacing="6" cellpadding="6" border="0">
                      <tbody>
                        <tr>
                          <td style="width: 100%; background-color: #c3002f;"><span
                              style="color: #ffffff; font-size: 16px;"><strong>IEB防追撞緊急煞車系統</strong></span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <p class="font_5"><span style="color: #000000; font-size: 16px;"><br />車輛攝影會偵測同一車道中的前車距離，當車速介於10~80
                    km/h，並可能發生碰撞時，將主動緊急煞車，降低風險。<br />(智行旗艦版) <br /></span></p>
                <h3 class="font_5"><span style="font-size: 16px;"><strong><span
                        style="color: #1a2b6d;">&nbsp;</span></strong></span></h3>
              </article>
            </div>
          </div>
        </div>
      </div>
      <section id="service">
        <div class="wrapper">
          <div class="x_slide">
            <div class="list row">
              <div class="col-3">
                <div data-aos="zoom-in-down" class="aos-init">
                  <article class="fadeinup fadeinup-mv">
                    <p class="font_5"><span style="font-size: 16px;"><span style="color: #1a2b6d;"><strong><img
                              src="https://static.iyp.tw/41625/files/6bdc4dd3-73ff-460a-9cce-4ade57c11a60.jpg"
                              alt="P15_16.jpg" /></strong></span><span
                          style="color: #000000;"><strong></strong></span></span></p>
                    <div class="row">
                      <div class="col-1">
                        <table style="width: 100%; border-collapse: collapse;" cellspacing="6" cellpadding="6"
                          border="0">
                          <tbody>
                            <tr>
                              <td style="width: 100%; background-color: #c3002f;"><span
                                  style="color: #ffffff; font-size: 16px;"><strong>P-IEB行人防追撞緊急煞車系統</strong></span></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <p class="font_5"><span style="color: #000000; font-size: 16px;"><br />當車速介於10-60
                        km/h並與行人有碰撞危險時，將主動緊急煞車，及時阻止意外。<br />(智行旗艦版)<br /></span></p>
                    <h3 class="font_5"><span style="color: #1a2b6d; font-size: 16px;"><strong>&nbsp;</strong></span>
                    </h3>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
  <section id="service">
    <div class="wrapper">
      <div class="x_slide">
        <div class="list row">
          <div class="col-3">
            <div data-aos="zoom-in-down" class="aos-init">
              <article class="fadeinup fadeinup-mv">
                <p class="font_5"><span style="font-size: 16px;"><strong><span style="color: #1a2b6d;"><img
                          src="https://static.iyp.tw/41625/files/4873ae71-00ec-4520-97cc-91b83dc2f68a.jpg"
                          alt="P15_17.jpg" /></span></strong><span
                      style="color: #000000;"><strong></strong></span></span></p>
                <div class="row">
                  <div class="col-1">
                    <table style="width: 100%; border-collapse: collapse;" cellspacing="6" cellpadding="6" border="0">
                      <tbody>
                        <tr>
                          <td style="width: 100%; background-color: #c3002f;"><span
                              style="color: #ffffff; font-size: 16px;"><strong>FCW前方碰撞警示系統/PDW行人偵測警示系統</strong></span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <p class="font_5"><span
                    style="color: #000000; font-size: 16px;"><br />當與前車距離過近，或偵測到前方有行人時，將出現警示音立即提醒車主。<br />(智行旗艦版)<br /><br /><br /></span>
                </p>
                <h3 class="font_5"></h3>
              </article>
            </div>
          </div>
          <h1 class="dfd-folio-categories"></h1>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="row">
  <section id="service">
    <div class="wrapper">
      <div class="x_slide">
        <div class="list row">
          <div class="col-3">
            <div data-aos="zoom-in-down" class="aos-init">
              <article class="fadeinup fadeinup-mv">
                <p class="font_5"><span style="font-size: 16px;"><strong><span style="color: #1a2b6d;"><img
                          src="https://static.iyp.tw/41625/files/d8adc7c2-71c1-4016-8972-f15c4d2a32f2.jpg"
                          alt="P15_18.jpg" /></span></strong><span
                      style="color: #000000;"><strong></strong></span></span></p>
                <div class="row">
                  <div class="col-1">
                    <table style="width: 100%; border-collapse: collapse;" cellspacing="6" cellpadding="6" border="0">
                      <tbody>
                        <tr>
                          <td style="width: 100%; background-color: #c3002f;"><span
                              style="color: #ffffff; font-size: 16px;"><strong>LDW車道偏離警示系統</strong></span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <p class="font_5"><span
                    style="color: #000000; font-size: 16px;"><br />透過前方攝影自動偵測路面車道線，於輪胎未跨線但接近車道線時，儀錶板螢幕出現警示圖，並發出警示音提醒駕駛注意。<br />(智行旗艦版)<br /><br /></span>
                </p>
                <h3 class="font_5"><span style="font-size: 16px;"><strong><span
                        style="color: #1a2b6d;">&nbsp;</span></strong></span></h3>
              </article>
            </div>
          </div>
        </div>
      </div>
      <section id="service">
        <div class="wrapper">
          <div class="x_slide">
            <div class="list row">
              <div class="col-3">
                <div data-aos="zoom-in-down" class="aos-init">
                  <article class="fadeinup fadeinup-mv">
                    <p class="font_5"><span style="font-size: 16px;"><span style="color: #1a2b6d;"><strong><img
                              src="https://static.iyp.tw/41625/files/cc140ed6-69dd-4173-b8d9-7b1fe696798e.jpg"
                              alt="P15_19.jpg" /></strong></span><span
                          style="color: #000000;"><strong></strong></span></span></p>
                    <div class="row">
                      <div class="col-1">
                        <table style="width: 100%; border-collapse: collapse;" cellspacing="6" cellpadding="6"
                          border="0">
                          <tbody>
                            <tr>
                              <td style="width: 100%; background-color: #c3002f;"><span
                                  style="color: #ffffff; font-size: 16px;"><strong>BSW盲點警示系統</strong></span></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <p class="font_5"><span
                        style="color: #000000; font-size: 16px;"><br />當車速達32km/h以上時，可偵測死角車況，並在同側Ａ柱顯示警示。<br />(智行旗艦版)<br /></span>
                    </p>
                    <h3 class="font_5"><span style="color: #1a2b6d; font-size: 16px;"><strong>&nbsp;</strong></span>
                    </h3>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
  <section id="service">
    <div class="wrapper">
      <div class="x_slide">
        <div class="list row">
          <div class="col-3">
            <div data-aos="zoom-in-down" class="aos-init">
              <article class="fadeinup fadeinup-mv">
                <p class="font_5"><span style="font-size: 16px;"><strong><span style="color: #1a2b6d;"><img
                          src="https://static.iyp.tw/41625/files/e6253af4-476c-41ec-8a99-6c1dd2d827c9.jpg"
                          alt="P15_20.jpg" /></span></strong><span
                      style="color: #000000;"><strong></strong></span></span></p>
                <div class="row">
                  <div class="col-1">
                    <table style="width: 100%; border-collapse: collapse;" cellspacing="6" cellpadding="6" border="0">
                      <tbody>
                        <tr>
                          <td style="width: 100%; background-color: #c3002f;"><span
                              style="color: #ffffff; font-size: 16px;"><strong>RCTA後方車側警示系統</strong></span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <p class="font_5"><span
                    style="color: #000000; font-size: 16px;"><br />倒車時，當有車輛進入車尾左右視線死角，將自動發出警示燈和警示音提醒駕駛注意。<br />(智行旗艦版)<br /><br /></span>
                </p>
                <h3 class="font_5"></h3>
              </article>
            </div>
          </div>
          <h1 class="dfd-folio-categories"></h1>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="row">
  <section id="service">
    <div class="wrapper">
      <div class="x_slide">
        <div class="list row">
          <div class="col-3">
            <div data-aos="zoom-in-down" class="aos-init">
              <article class="fadeinup fadeinup-mv">
                <p class="font_5"><span style="font-size: 16px;"><strong><span style="color: #1a2b6d;"><img
                          src="https://static.iyp.tw/41625/files/b65ab3ea-c3c6-4c27-ac54-c7749850f870.jpg"
                          alt="P15_21.jpg" /></span></strong><span
                      style="color: #000000;"><strong></strong></span></span></p>
                <div class="row">
                  <div class="col-1">
                    <table style="width: 100%; border-collapse: collapse;" cellspacing="6" cellpadding="6" border="0">
                      <tbody>
                        <tr>
                          <td style="width: 100%; background-color: #c3002f;"><span
                              style="color: #ffffff; font-size: 16px;"><strong>AVM
                                360&deg;環景影像監控系統/MOD移動物體偵測系統</strong></span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <p class="font_5"><span
                    style="color: #000000; font-size: 16px;"><br />假使四周有任何動靜，360度環景影像的廣角攝影鏡頭能夠替你察覺注意，還可偵測各種移動物體，並預先發出警示。<br />(豪華版以上經銷公司標準選配)<br /><br /></span>
                </p>
                <h3 class="font_5"><span style="font-size: 16px;"><strong><span
                        style="color: #1a2b6d;">&nbsp;</span></strong></span></h3>
              </article>
            </div>
          </div>
        </div>
      </div>
      <section id="service">
        <div class="wrapper">
          <div class="x_slide">
            <div class="list row">
              <div class="col-3">
                <div data-aos="zoom-in-down" class="aos-init">
                  <article class="fadeinup fadeinup-mv">
                    <p class="font_5"><span style="font-size: 16px;"><span style="color: #1a2b6d;"><strong><img
                              src="https://static.iyp.tw/41625/files/3f715b6a-8ad5-4ffc-ac04-2aff350753a8.jpg"
                              alt="P15_22.jpg" /></strong></span><span
                          style="color: #000000;"><strong></strong></span></span></p>
                    <div class="row">
                      <div class="col-1">
                        <table style="width: 100%; border-collapse: collapse;" cellspacing="6" cellpadding="6"
                          border="0">
                          <tbody>
                            <tr>
                              <td style="width: 100%; background-color: #c3002f;"><span
                                  style="color: #ffffff; font-size: 16px;"><strong>VDC車輛動態穩定系統/TCS循跡防滑控制系統</strong></span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <p class="font_5"><span
                        style="color: #000000; font-size: 16px;"><br />全車系標配VDC內含TCS循跡防滑控制系統，緊急狀況時，VDC將適時調節引擎動力輸出，同時針對個別車輪施以煞車，立即修正轉向不足或轉向過度，回到穩行狀態。<br /></span>
                    </p>
                    <h3 class="font_5"><span style="color: #1a2b6d; font-size: 16px;"><strong>&nbsp;</strong></span>
                    </h3>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
  <section id="service">
    <div class="wrapper">
      <div class="x_slide">
        <div class="list row">
          <div class="col-3">
            <div data-aos="zoom-in-down" class="aos-init">
              <article class="fadeinup fadeinup-mv">
                <p class="font_5"><span style="font-size: 16px;"><strong><span style="color: #1a2b6d;"><img
                          src="https://static.iyp.tw/41625/files/ba22cb67-9c2a-44fd-be32-3158d99b491e.jpg"
                          alt="P15_23.jpg" /></span></strong><span
                      style="color: #000000;"><strong></strong></span></span></p>
                <div class="row">
                  <div class="col-1">
                    <table style="width: 100%; border-collapse: collapse;" cellspacing="6" cellpadding="6" border="0">
                      <tbody>
                        <tr>
                          <td style="width: 100%; background-color: #c3002f;"><span
                              style="color: #ffffff; font-size: 16px;"><strong>3A主動全時防護系統-AEB主動引擎煞車輔助</strong></span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <p class="font_5"><span
                    style="color: #000000; font-size: 16px;"><br />主動判斷方向盤轉向變化與車速，提前介入CVT變速箱以調節傳動比，自動增加煞車力道，過彎更加穩健流暢。<br />(豪華版以上)<br /><br /></span>
                </p>
                <h3 class="font_5"></h3>
              </article>
            </div>
          </div>
          <h1 class="dfd-folio-categories"></h1>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="row">
  <section id="service">
    <div class="wrapper">
      <div class="x_slide">
        <div class="list row">
          <div class="col-3">
            <div data-aos="zoom-in-down" class="aos-init">
              <article class="fadeinup fadeinup-mv">
                <p class="font_5"><span style="font-size: 16px;"><strong><span style="color: #1a2b6d;"><img
                          src="https://static.iyp.tw/41625/files/9a92f8e3-c861-4db5-bfd4-1742cfb77b31.jpg"
                          alt="P15_24.jpg" /></span></strong><span
                      style="color: #000000;"><strong></strong></span></span></p>
                <div class="row">
                  <div class="col-1">
                    <table style="width: 100%; border-collapse: collapse;" cellspacing="6" cellpadding="6" border="0">
                      <tbody>
                        <tr>
                          <td style="width: 100%; background-color: #c3002f;"><span
                              style="color: #ffffff; font-size: 16px;"><strong>3A主動全時防護系統-ATC主動循跡過彎輔助</strong></span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <p class="font_5"><span
                    style="color: #000000; font-size: 16px;"><br />當過彎轉向不足或過度，可即時偵測並提供獨立四輪煞車控制、四輪各自分配不同制動力，協助調節過彎速度，展現更優異的過彎性能。<br />(豪華版以上)<br /><br /></span>
                </p>
                <h3 class="font_5"><span style="font-size: 16px;"><strong><span
                        style="color: #1a2b6d;">&nbsp;</span></strong></span></h3>
              </article>
            </div>
          </div>
        </div>
      </div>
      <section id="service">
        <div class="wrapper">
          <div class="x_slide">
            <div class="list row">
              <div class="col-3">
                <div data-aos="zoom-in-down" class="aos-init">
                  <article class="fadeinup fadeinup-mv">
                    <p class="font_5"><span style="font-size: 16px;"><span style="color: #1a2b6d;"><strong><img
                              src="https://static.iyp.tw/41625/files/5b237390-9ef6-4281-8b09-ab37e3100479.jpg"
                              alt="P15_25.jpg" /></strong></span><span
                          style="color: #000000;"><strong></strong></span></span></p>
                    <div class="row">
                      <div class="col-1">
                        <table style="width: 100%; border-collapse: collapse;" cellspacing="6" cellpadding="6"
                          border="0">
                          <tbody>
                            <tr>
                              <td style="width: 100%; background-color: #c3002f;"><span
                                  style="color: #ffffff; font-size: 16px;"><strong>3A主動全時防護系統-ARC主動行車抑震輔助</strong></span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <p class="font_5"><span
                        style="color: #000000; font-size: 16px;"><br />當車輛行駛於顛簸路面時，自動調節煞車力及引擎動力，給予四輪不同制動力。靈活因應每種路況，提供最流暢平穩的駕乘體驗。<br />(豪華版以上)<br /></span>
                    </p>
                    <h3 class="font_5"><span style="color: #1a2b6d; font-size: 16px;"><strong>&nbsp;</strong></span>
                    </h3>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
  <section id="service">
    <div class="wrapper">
      <div class="x_slide">
        <div class="list row">
          <div class="col-3">
            <div data-aos="zoom-in-down" class="aos-init">
              <article class="fadeinup fadeinup-mv">
                <p class="font_5"><span style="font-size: 16px;"><strong><span style="color: #1a2b6d;"><img
                          src="https://static.iyp.tw/41625/files/ae3caef6-4d54-480d-86c2-f1eccf2a6a04.jpg"
                          alt="P15_26.jpg" /></span></strong><span
                      style="color: #000000;"><strong></strong></span></span></p>
                <div class="row">
                  <div class="col-1">
                    <table style="width: 100%; border-collapse: collapse;" cellspacing="6" cellpadding="6" border="0">
                      <tbody>
                        <tr>
                          <td style="width: 100%; background-color: #c3002f;"><span
                              style="color: #ffffff; font-size: 16px;"><strong>HSA斜坡起步防滑系統</strong></span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <p class="font_5"><span style="color: #000000; font-size: 16px;"><br />當車輛行駛在傾斜角度&gt;10%
                    的上坡路面，準備起步時，會自動剎車約2-3秒，防止車輛向下滑動。<br /><br /><br /></span></p>
                <h3 class="font_5"></h3>
              </article>
            </div>
          </div>
          <h1 class="dfd-folio-categories"></h1>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="row">
  <section id="service">
    <div class="wrapper">
      <div class="x_slide">
        <div class="list row">
          <div class="col-3">
            <div data-aos="zoom-in-down" class="aos-init">
              <article class="fadeinup fadeinup-mv">
                <p class="font_5"><span style="font-size: 16px;"><strong><span style="color: #1a2b6d;"><img
                          src="https://static.iyp.tw/41625/files/db92a727-5a19-46a9-bc3e-bda2c49c58db.jpg"
                          alt="P15_27.jpg" /></span></strong></span></p>
                <div class="row">
                  <div class="col-1">
                    <table style="width: 100%; border-collapse: collapse;" cellspacing="6" cellpadding="6" border="0">
                      <tbody>
                        <tr>
                          <td style="width: 100%; background-color: #c3002f;"><span
                              style="color: #ffffff; font-size: 16px;"><strong>6 SRS安全輔助氣囊</strong></span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <p class="font_5"><span
                    style="color: #000000; font-size: 16px;"><br />從雙前座輔助氣囊、雙前座側方輔助氣囊、簾幕式輔助氣囊，讓每一顆想冒險的心，都能因為每一顆安全氣囊更安心。<br />(豪華版以上)<br /></span>
                </p>
                <h3 class="font_5"><span style="font-size: 16px;"><strong><span
                        style="color: #1a2b6d;">&nbsp;</span></strong></span></h3>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<p><span style="font-size: 16px;"><strong>&nbsp;</strong></span></p>
<p><br /><br /><br /></p>
<p></p>
<p><br /><br /><br /><span style="font-size: 22px;"><strong><span
        style="font-size: 24px; color: #ad0029;">規格介紹<br /></span></strong></span></p>
<hr style="border: 0.5px dashed #f52c5c;" />
<div class="row">
  <div class="col-3"><span style="font-size: 16px;"><strong><span
          style="color: #ad0029;">時尚版</span></strong></span><br />全新第三代HR15DE高效節能引擎<br />全新第五代X-CVT無段自動變速系統(附Sport模式)<br />17吋雙色切削式鋁圈<br />懸浮式車頂設計<br />ABS/EBD/BAS/BOS<br />VDC車身動態穩定系統<br />TCS循跡防滑系統<br />HSA斜坡起步防滑系統<br />TPMS胎壓偵測系統<br />ISOFIX兒童座椅固定機構<br />雙前座SRS輔助氣囊<br />雙前座側方SRS輔助氣囊<br />D-Shape運動直覺方向盤<br />8吋智慧影音多媒體系統
    X-Media Ⅲ<br />遙控鑰匙及晶片防盜鑰匙<br />晶亮鹵素頭燈<br />3D超體感紓壓座椅<br />LED自發光儀錶板<br />PM 2.5級空調<br />高傳真音響喇叭(4支)</div>
  <div class="col-3"><span style="font-size: 16px;"><strong><span
          style="color: #ad0029;">豪華版</span></strong></span><br />3A主動全時防護系統<br />AVM
    360&deg;環景影像監控系統<br />MOD移動物體偵測系統<br />簾幕式SRS輔助氣囊<br />四輪胎壓獨立顯示<br />電折後視鏡<br />鯊魚鰭天線<br />3D超體感紓壓皮椅<br />PM
    2.5級恆溫空調<br />I-Key附晶片防盜系統<br />Push Start引擎啟閉系統<br />方向盤定速功能<br />7吋數位液晶儀錶板<br />高傳真音響喇叭(6支)</div>
  <div class="col-3"><span style="font-size: 16px;"><strong><span
          style="color: #ad0029;">智行旗艦版</span></strong></span><br />IEB防追撞緊急煞車系統<br />P-IEB行人防追撞緊急煞車系統<br />LDW車道偏離警示系統<br />FCW前方碰撞預警系統<br />PDW行人偵測警示系統<br />BSW盲點警示系統<br />RCTA後方車側警示系統<br />主動式LED魚眼頭燈<br />AHB遠近光燈自動調節系統<br />動感車頂架<br />KICKS
    ID.運動套件組<br />大型擾流尾翼</div>
</div>
<p></p>
<p></p>
<p></p>